.my-gallery .photo img {
    transition: all 0.6s ease-in-out; 
}     
.my-gallery .photo:hover img {
    opacity: 0.6;
    transform: scale(1.05);
}      
.my-gallery {
    margin: 20px auto;
}   
.miaoshus .title {
    font-family: MV Boli;
}
.miaoshus {
    padding: 20px;
    border: 1px dashed #e6e6e6;
    color: #969696;
    position: relative;
    display: inline-block;
    width: 100%;
    background: #fbfbfb50;
    border-radius: 10px;
    font-size: 16px;
    margin: 24px auto 12px;
    font-weight: 400;
    font-family: 'Architects Daughter', cursive!important;
    margin-bottom: 10px;
}
body.dark .miaoshus {
    background: 0 0;
    border: 1px dashed #888;
}
body {
    overflow: visible!important;
}
.box {
    position: relative;
}
.box img {
    width: 320px;
    vertical-align: top;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.5s;
}

.box::after{
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    display: block;
    visibility: hidden;
}

.box img:hover {
    transform: scale(1.05);
}
.page-footer {
    display: none
}
body {
    overflow-y: visible!important;
}
header {
    background-color: #000;
}
.biaotiss {
        font-family: MV Boli;
    }   
@media only screen and (max-width: 1058px) {
    .box {
        /* margin-left: 145px; */
    }
}
@media only screen and (max-width: 770px) {
    .box {
        margin-left: 15px;
    }
}
@media only screen and (max-width: 500px) {
    #previous-button, #next-button {
        display: none;
    }
}
@media only screen and (max-width: 380px) {
    .box {
        margin-left: -5px;
    }
}
@media only screen and (max-width: 323px) {
    .box img {
        width: 296px;
        left: 0;
    }
}

/* .gallery,
.my-gallery,
.row,
.box{
    height: 100%;
} */

.tag-title{
    margin-bottom: 10px;
}

.center-align{
    text-align: center;
}

.title{
    font-family: 'Architects Daughter', cursive!important;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

a.img-wrapper{
    display: inline-block;
}