@media screen and (max-width: 768px){
    #article-container ol, #article-container ul {
        padding: 0 0 0 .4rem;
    }
}

#article-container ol, #article-container ul {
    margin-top: .4rem;
    padding: 0 0 0 .8rem;
    list-style: none;
    counter-reset: li;
}

#article-container ol>li:not(.tab) {
    padding: .2em .2em .2em 1.8em;
}

#article-container ul>li:not(.tab) {
    padding: .2em .2em .2em 1.4em;
}

#article-container ol li:not(.tab), #article-container ul li:not(.tab) {
    position: relative;
    margin: .2rem 0;
}


#article-container ol li:hover:before, #article-container ul li:hover:before {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

#article-container ol>li:before {
    margin-top: .65em;
    width: 1.45em;
    height: 1.45em;
    border-radius: .725em;
    content: counter(li);
    counter-increment: li;
    text-align: center;
    font-size: .85em;
    line-height: 1.45em;
}

#article-container ol li:before, #article-container ul li:before {
    position: absolute;
    top: 0;
    left: 0;
    background: #49b1f5;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#article-container ul>li:not(.tab):before {
    top: .78em;
    width: .42em;
    height: .42em;
    border: .21em solid #49b1f5;
    border-radius: .42em;
    background: 0 0;
    content: '';
    line-height: .42em;
}

#article-container ol li:before, #article-container ul li:before {
    position: absolute;
    top: 0;
    left: 0;
    background: #49b1f5;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#article-container.post-content h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    -webkit-animation: avatar_turn_around 1s linear infinite;
    -moz-animation: avatar_turn_around 1s linear infinite;
    -o-animation: avatar_turn_around 1s linear infinite;
    -ms-animation: avatar_turn_around 1s linear infinite;
    animation: avatar_turn_around 1s linear infinite;
}




