body *, div {
    cursor: url(https://cdn.keyiqingxin.cn/cursor/default.cur), auto !important;
}

a, a span, a:hover, button, button:hover, img, span.nota, i, span.swiper-pagination-bullet:hover {
    cursor: url(https://cdn.keyiqingxin.cn/cursor/pointer.cur), auto !important;
}

textarea:focus, input:focus, textarea:hover, input:hover{
    cursor: url(https://cdn.keyiqingxin.cn/cursor/check.cur), auto !important;
}

@import url(//at.alicdn.com/t/font_2588584_jxulve957ga.css);

#article-container.post-content h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    -webkit-animation: avatar_turn_around 1s linear infinite;
    -moz-animation: avatar_turn_around 1s linear infinite;
    -o-animation: avatar_turn_around 1s linear infinite;
    -ms-animation: avatar_turn_around 1s linear infinite;
    animation: avatar_turn_around 1s linear infinite;
}

@font-face {
    font-family:'arzhu';
    src:url('https://cdn.keyiqingxin.cn/font/arzhu.ttf');
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}

.author-info__name,.author-info__description,#card-info-btn,.card-info-data-item{
    font-family:arzhu!important
}

@media screen and (max-width: 970px) {
    #categoryBar {
        display: none;
    }
}
/* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
/* width和height定义图标的默认宽度和高度*/

/* 控制时间轴的生肖图标大小 */
svg.icon {
     width: 1em; height: 1em;
     vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
}

/* 原来是custome.css 现合并为一个文件 */

/* 页脚透明 */
#footer{
    background: transparent!important;
}
/* 头图透明 */
#page-header{
    background: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
#footer::before{
    background: transparent!important;
}

[data-theme="dark"]
#page-header::before{
    background: transparent!important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.card-info-avatar:hover {
    background: url(https://cdn.keyiqingxin.cn/avatar/20200530181856.7ip3ho3z0y40.gif);
}

.live3d{
    z-index: 98!important;
    width: 500px !important;
    height: 437.5px!important;
}

@media screen and (max-width: 970px) {
    #live2d {
        display: none;
    }
    #live3d {
        display: none;
    }
}


#content-inner.layout h1::before {
    color: #ef50a8 ;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}
#content-inner.layout h2::before {
    color: #fb7061 ;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}
#content-inner.layout h3::before {
    color: #ffbf00 ;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}
#content-inner.layout h4::before {
    color: #a9e000 ;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}
#content-inner.layout h5::before {
    color: #57c850 ;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0.0rem;
}
#content-inner.layout h6::before {
    color: #5ec1e0 ;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0.0rem;
}
/* bbds hover样式 */
.bbTimeList div.swiper-slide-active:hover{
    color: #49b1f5;
    cursor: url(https://cdn.keyiqingxin.cn/cursor/pointer.cur), auto !important;
}

/* 重复的图片描述文字 alt */
span.image-caption {
    display: none;
}

/* 评论卡片样式 */
/*twikooUA*/
/* .tk-extra[data-v-d82ce9a0] {
    padding: .2em .5em;
    border-radius: .2em;
    background: #ededed;
    margin-top: 0.5rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
}
.tk-comment[data-v-d82ce9a0] {
    box-shadow: 2px 2px 5px #9a9a9a;
    border-radius: 8px;
    padding: 15px;
    margin-top: 1rem;
}
.tk-comment[data-v-d82ce9a0] {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    word-break: break-all;
}
#twikoo .tk-comment .tk-replies .tk-comment {
    box-shadow: none;
}
.tk-replies {
    margin-left: -85px;
} */


/* 分类魔改样式 start */

.category_card_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category_card_wrap figure {
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    width: 30%;
    height: auto;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.category_card_wrap figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

figure.effect-apollo p {
    font-family:arzhu!important;
    font-display:swap;
	position: absolute;
	right: 0;
	bottom: 0;
    margin-right: 1em;
	padding: 0 1em;
	max-width: 150px;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.category_card_wrap figure figcaption {
    padding: .8em 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.category_card_wrap figure figcaption::before,
.category_card_wrap figure figcaption::after {
    pointer-events: none;
}

.category_card_wrap figure figcaption,
.category_card_wrap figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.category_card_wrap figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.category_card_wrap figure h3 {
    font-family:arzhu!important;
    font-display:swap;
    color: #fff;
    word-spacing: -0.15em;
    font-weight: 300;
}

.category_card_wrap figure h3{
    margin: 0;
}


.category_card_wrap figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
}

.category_card_wrap figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

.category_card_wrap figure.effect-apollo h3 {
    text-align: left;
}

.category_card_wrap figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.category_card_wrap figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

/* 分类魔改样式 end */

/* 磁贴问题 |对不齐的问题 */
a.categoryBar-list-link::before {
    vertical-align: 2px;
    margin-right: .5rem;
}

/* 侧边栏头像圆角 */
.aside-list .aside-list-item .thumbnail img{
    border-radius: 35%;
}